<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Hi, <%= @customer.name %></h1>
  <p>Welcome to Lintbells!</p>
  <p>To activate your account click the link below:</p>
  <a href="<%= @url %>" style="background: #f3a710;color: #ffffff;border: 1px solid #f3a710;padding: 0 20px;text-align: center;cursor: pointer;min-height: 44px; height: 40px;line-height: 1.2; vertical-align: top;    font-size: 14px;text-decoration: none;">Activate your account</a>
</body>
</html>